<template>
    <section class="section footer">
        <div class="footer__header">
            <nuxt-link to="/" class="footer__logo"></nuxt-link>
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__item">
                        <nuxt-link to="/" class="footer__link">Home</nuxt-link>
                    </li>
                    <li class="footer__item footer__item--news">
                        <nuxt-link to="/news" class="footer__link">News</nuxt-link>
                    </li>
                    <li class="footer__item">
                        <nuxt-link to="/about" class="footer__link">About</nuxt-link>
                    </li>

                    <li class="footer__item footer__item--contacts">
                        <nuxt-link to="/contacts" class="footer__link">Contacts</nuxt-link>
                    </li>
                    <li class="footer__item">
                        <nuxt-link to="/portfolio" class="footer__link">Portfolio</nuxt-link>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__container">
            <div class="footer__block footer__address">
                <div class="footer__name">{{ setting.contacts[0].name }}</div>
                {{ setting.contacts[0].address }}
            </div>
            <div class="footer__block footer__contacts">
                <a class="footer__href" :href="`tel:${setting.contacts[0].phone}`">{{ setting.contacts[0].phone }}</a>
                <a class="footer__href" :href="`mailto:${setting.contacts[0].email}`">{{ setting.contacts[0].email }}</a>
            </div>
            <div class="footer__block footer__info" v-if="setting.legal">
               {{ setting.legal }}
            </div>
            <a :href="setting.linkedin" v-if="setting.linkedin" target="_blank" class="footer__linkedin"></a>
        </div>
        <div class="footer__author">
            <div class="footer__copyright">
                © 2022 ND GROUP B.V. | <a href="/ND%20Group%20Privacy%20and%20Cookie%20Policy.docx" class="footer__docs">PRIVACY AND COOKIE NOTICE</a>
                | <a href="/DISCLAIMER%20AND%20TERMS%20OF%20WEBSITE%20USE.docx" class="footer__docs">TERMS OF USE</a></div>
            <div class="footer__created">
                <a href="https://once.agency" class="footer__agency " target="_blank">design & Development by <span
                    class="footer__once"></span></a>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    computed: {
        setting() {
            return this.$store.getters.setting;
        }
    }
}
</script>
