<template>
    <section class="section missions">
        <div class="missions__title">{{ mission.title }}</div>
        <div class="missions__wrapper">
            <div class="missions__progress">
                <span class="missions__value"></span>
            </div>
            <div class="missions__spacer"></div>
            <ul class="missions__list">
                <li class="missions__item" v-for="item of mission.list">
                    <img :src="`${strapiUploadUrl}${item.image.url}`" alt="" class="missions__image">
                    <div class="missions__container">
                        <div class="missions__header">
                            <div class="missions__name">{{ item.name }}</div>
                            <div class="missions__count">
                                <div class="missions__current">1</div>
                                <div class="missions__divider">/</div>
                                <div class="missions__total">3</div>
                            </div>
                        </div>
                        <div class="missions__desc">
                            {{ item.description }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</template>

<script>
export default {
    props: ['mission'],
    computed: {
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        },
    },
}
</script>
