<template>
    <section class="section short-news">
        <div class="section__title section__title--small section__title--tab-inline short-news__title" data-gsap="split-message">
            <div class="section__line">News </div>
            <div class="section__line">& Views</div>
        </div>
        <ul class="short-news__list">
            <li class="short-news__item" v-for="post of posts">
                <img :src="`${strapiUploadUrl}${post.short.url}`" alt="" class="short-news__img">
                <nuxt-link :to="`/news/${post.slug}`" class="short-news__link"></nuxt-link>
                <div class="short-news__name">
                    <span class="short-news__text">{{ post.name }}</span>
                </div>
            </li>
        </ul>
        <nuxt-link to="/news" class="section__link short-news__more">Read more News</nuxt-link>
    </section>

</template>

<script>
export default {
    props: ['posts'],
    computed: {
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        },
    },
}
</script>
