<template>
    <div class="page__content">
        <Header page="news"/>
        <section class="section news">
            <ul class="news__list">
                <li class="news__item" v-for="(news, index) of posts">
                    <img :src="`${strapiUploadUrl}${getImage(index, news)}`" style="object-position: 40% 50%" alt=""
                         class="news__img">
                    <nuxt-link :to="`/news/${news.slug}`" class="news__link"></nuxt-link>
                    <div class="news__name">
                        <span class="news__text">{{ news.name }}</span>
                    </div>
                </li>
            </ul>
            <!--            <div class="news__load">-->
            <!--                <a href="/" class="section__link">Load more news</a>-->
            <!--            </div>-->
        </section>
        <Footer/>
    </div>
</template>

<script>
export default {
    head() {
        return {
            bodyAttrs: {
                class: 'page page--news'
            },
            title: this.seo?.metaTitle || 'ND Group',
            meta: [
                { hid: 'description', name: 'description', content: this.seo?.metaDescription || '' },
            ],
        }
    },
    data: () => ({
        posts: [],
        externalLoaded: false
    }),
    methods: {
        getImage(index, news) {
            if ([0, 2, 3].includes(index)) return news.full.url;
            else return news.short.url
        }
    },
    async asyncData({ params, error, $axios }) {
        const qs = require('qs');
        const query = qs.stringify({
            sort: {
                'date': 'desc'
            },
            populate: [
                'short', 'header', 'full'
            ]
        }, {
            encodeValuesOnly: true,
        });
        try {
            const response = await $axios.get(`/posts/?${query}`);
            return {
                posts: response.data.data
            }
        } catch (e) {
            error({ statusCode: 404, message: 'News not found' })
        }
    },
    computed: {
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        },
        seo() {
            return this.$store.getters.headers.filter(header => header.page === 'news')[0].seo
        },
    },
    mounted() {

        function messageSplits() {
            gsap.utils.toArray('[data-gsap="split-message"]').forEach(el => {
                gsap.from(SplitText.create(el, { type: "words, chars" }).chars, {
                    opacity: 0,
                    y: '15%',
                    transformOrigin: "100% 50%",
                    stagger: 0.1,
                    scrollTrigger: {
                        trigger: el,
                        start: "top 90%",
                        once: true
                    }
                });
            });
        }

        messageSplits();

        const headerTaglines = document.querySelectorAll('.header__tagline');

        for (let tagline of headerTaglines) {
            let split = new SplitText(tagline, { type: 'chars, words, lines' });
            gsap.from(split.chars, { delay: 1, duration: .5, y: '10%', autoAlpha: 0, stagger: 0.1 });
        }

        const animationItems = document.querySelectorAll('.news__item, .news__title');

        for (let item of animationItems) {
            gsap.fromTo(item, { autoAlpha: 0, y: '15%' }, {
                duration: .5,
                autoAlpha: 1,
                y: 0,
                scrollTrigger: {
                    trigger: item,
                    start: 'top 90%',
                    once: true
                }
            });
        }
    }
}
</script>
