<template>
    <div class="page__container">
        <Nuxt/>
        <client-only>
            <Cookie/>
        </client-only>
    </div>
</template>

<script>
export default {
    head() {
        return {
            link: [
                {
                    rel: 'shortcut icon',
                    type: 'image/x-icon',
                    href: `${this.strapiUploadUrl}${this.setting.favicon?.url}`,
                    media: '(prefers-color-scheme:light)'
                },
                {
                    rel: 'shortcut icon',
                    type: 'image/x-icon',
                    href: `${this.strapiUploadUrl}${this.setting.faviconDark?.url}`,
                    media: '(prefers-color-scheme:dark)'
                },
            ],
            meta: [
                {
                    'type': 'og:locale',
                    'content': this.setting.og?.locale
                },
                {
                    'type': 'og:type',
                    'content': this.setting.og?.type
                },
                {
                    'type': 'og:title',
                    'content': this.setting.og?.title
                },
                {
                    'type': 'og:description',
                    'content': this.setting.og?.description
                },
                {
                    'type': 'og:url',
                    'content': this.setting.og?.url
                },
                {
                    'type': 'og:site_name',
                    'content': this.setting.og?.name
                },
                {
                    'property': 'og:image',
                    'content': `${this.strapiUploadUrl}${this.setting.og?.image.url}`
                },
                {
                    'property': 'og:image:secure_url',
                    'content': `${this.strapiUploadUrl}${this.setting.og?.image.url}`
                },
            ]
        }
    },
    computed: {
        setting() {
            return this.$store.getters.setting;
        },
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        },
    }
}
</script>
