<template>
    <div class="page__content">
        <Header page="about"/>
        <section class="section about">
            <div class="about__title" data-gsap="split-message">
                {{ about.title }}
            </div>
            <div class="about__desc">
                <p class="about__p" v-for="paragraph of about.description">
                    {{ paragraph.text }}
                </p>
            </div>
            <div class="about__chief">
                <div class="about__wrapper">
                    <div class="about__block">
                        <figure class="about__figure">
                            <img :src="`${strapiUploadUrl}${about.chief.photo.url}`" alt="" class="about__photo">
                        </figure>
                        <div class="about__name">{{ about.chief.name }}</div>
                        <div class="about__post">{{ about.chief.post }}</div>
                    </div>
                    <div class="about__block">
                        <div class="about__quote">
                            {{ about.chief.quote }}
                        </div>
                        <!--                        <a href="/" class="section__link about__more">Show more</a>-->
                    </div>
                </div>
                <div class="about__video-container about__open-video">
                    <img :src="`${strapiUploadUrl}${about.video.preview.url}`" class="about__preview">
                    <div class="about__play"></div>
                    <div class="about__video">
                        <div class="about__close">
                            <span class="about__line"></span>
                            <span class="about__line"></span>
                        </div>
                        <iframe
                            :src="`https://player.vimeo.com/video/${about.video.video}?h=2baadf09de&amp;loop=1&amp;color=D8D0C7&amp;byline=0&amp;portrait=0`"
                            frameborder="0" allow="autoplay; fullscreen; picture-in-picture" class="about__iframe">
                        </iframe>
                    </div>
                </div>
                <div class="about__sphere-container">
                    <div class="about__sphere">
                        <svg id="sphere" width="100%" height="100%" viewBox="0 0 771 771"
                             xmlns="http://www.w3.org/2000/svg">
                            <path class="path path--1" fill="#C8C8C8"
                                  d="M361.613 730.869C361.954 728.412 362.227 725.888 362.637 723.432C362.841 722.204 363.046 720.976 363.319 719.747L363.728 717.905C363.865 717.291 364.069 716.677 364.206 716.063C364.411 715.449 364.547 714.835 364.752 714.221L365.366 712.447C365.775 711.219 366.321 710.127 366.799 708.967L370.005 702.144C374.372 695.39 379.489 689.113 385.152 683.45C390.815 677.718 397.092 672.601 403.847 668.166C410.533 663.663 417.561 659.706 424.861 656.226C432.094 652.678 439.599 649.813 446.968 646.674L469.21 637.532L491.589 628.73L513.968 619.86L536.279 610.922L558.385 601.507L569.438 596.799L580.287 591.682L602.12 581.516L613.037 576.467L623.885 571.281L645.582 560.91C652.814 557.499 659.978 553.883 667.415 550.744C674.852 547.606 682.494 544.808 690.477 543.171C694.434 542.284 698.528 541.806 702.69 541.875C706.783 541.943 710.945 542.489 714.903 543.921L714.971 543.99L715.039 544.058L717.154 545.423C717.836 545.832 718.519 546.446 719.133 546.992C719.474 547.265 719.815 547.538 720.088 547.879L720.975 548.834C721.316 549.107 721.521 549.516 721.725 549.926L722.408 551.085C722.612 551.495 722.749 551.904 722.885 552.314C723.022 552.723 723.226 553.132 723.295 553.542L723.568 554.77C723.636 555.179 723.772 555.589 723.772 555.998C723.841 556.817 723.909 557.635 723.909 558.454V560.91V560.979V561.047C723.568 563.503 723.158 565.959 722.544 568.347L722.067 570.121L721.521 571.895C721.18 573.055 720.702 574.215 720.293 575.375C718.587 580.015 716.404 584.381 714.084 588.68C711.764 592.978 709.171 597.14 706.442 601.166C705.078 603.212 703.645 605.191 702.212 607.17C700.779 609.148 699.278 611.059 697.845 613.037C691.909 620.747 685.496 628.116 678.878 635.28C672.259 642.444 665.3 649.267 658.136 655.817C665.164 649.062 671.918 642.035 678.4 634.802C684.882 627.57 691.091 620.065 696.89 612.287C698.323 610.308 699.756 608.398 701.12 606.351C702.485 604.372 703.849 602.325 705.214 600.347C707.875 596.321 710.399 592.159 712.651 587.861C714.903 583.562 716.949 579.196 718.587 574.693C718.996 573.533 719.406 572.441 719.747 571.281L720.293 569.576L720.702 567.802C721.316 565.482 721.657 563.094 721.93 560.774V560.842V558.454C721.93 558.045 721.862 557.704 721.862 557.294L721.794 556.134C721.794 555.725 721.657 555.384 721.589 555.043L721.384 553.951C721.316 553.61 721.111 553.269 721.043 552.928C720.907 552.587 720.838 552.245 720.634 551.904L720.088 550.949C719.883 550.608 719.747 550.335 719.474 550.062L718.723 549.243C718.519 548.97 718.178 548.697 717.905 548.493C717.291 548.015 716.745 547.538 716.062 547.128L714.084 545.9L714.22 545.968C710.604 544.672 706.715 544.194 702.758 544.194C698.869 544.194 694.911 544.74 691.091 545.559C683.381 547.196 675.876 549.994 668.575 553.132C661.275 556.271 654.042 559.887 646.81 563.367L625.182 573.806L614.333 579.059L603.417 584.177L581.651 594.411L570.735 599.46L559.614 604.099L537.439 613.447L515.06 622.248L492.681 630.982L470.097 639.51L447.786 648.448C440.349 651.45 432.844 654.248 425.612 657.659C418.38 661.002 411.352 664.891 404.666 669.258C397.979 673.625 391.634 678.537 385.971 684.132C380.24 689.658 375.054 695.799 370.551 702.417V702.349L367.276 709.104C366.799 710.264 366.253 711.355 365.775 712.583L365.093 714.357C364.888 714.971 364.752 715.517 364.547 716.131C364.411 716.745 364.138 717.291 364.001 717.905L363.592 719.747C363.319 720.976 363.046 722.204 362.841 723.432C362.364 725.888 362.023 728.412 361.613 730.869Z">
                            </path>
                            <path class="path path--2" fill="#C8C8C8"
                                  d="M671.304 146.283C671.304 146.283 671.577 147.17 672.191 148.876C672.805 150.582 673.624 153.106 674.647 156.449C676.694 163.136 679.423 173.029 681.539 185.924C683.517 198.819 684.745 214.785 682.698 232.934C681.675 241.94 679.833 251.56 676.967 261.385C674.033 271.21 670.008 281.24 665.095 291.27C655.27 311.465 641.693 331.729 626.41 352.335C624.499 354.927 622.589 357.52 620.61 360.113C618.631 362.705 616.585 365.23 614.538 367.823C610.444 373.008 606.35 378.193 602.188 383.515C597.822 388.632 593.387 393.818 588.952 399.071C586.7 401.664 584.449 404.325 582.197 406.918C579.877 409.442 577.489 412.035 575.101 414.559C570.325 419.677 565.618 424.93 560.705 430.047C555.724 435.096 550.675 440.213 545.627 445.331C540.646 450.516 535.324 455.429 530.07 460.477C524.817 465.458 519.563 470.644 514.105 475.488C508.646 480.4 503.188 485.381 497.73 490.362C492.135 495.206 486.54 500.05 480.946 504.963C475.351 509.875 469.62 514.583 463.888 519.359C458.157 524.067 452.494 528.979 446.558 533.551C423.224 552.177 398.252 568.825 372.53 583.153C369.255 584.859 366.048 586.565 362.773 588.27L357.929 590.795L353.016 593.183C349.741 594.752 346.466 596.321 343.191 597.891C339.848 599.323 336.573 600.756 333.23 602.189C331.592 602.871 329.887 603.622 328.249 604.304C326.543 604.918 324.906 605.6 323.2 606.214C319.857 607.511 316.514 608.807 313.171 610.035C309.827 611.195 306.416 612.287 303.073 613.447C301.367 613.992 299.729 614.538 298.024 615.152C296.318 615.698 294.612 616.108 292.975 616.653C266.024 624.5 239.074 629.003 213.283 628.866C210.077 628.798 206.87 628.798 203.731 628.73C200.593 628.525 197.386 628.184 194.316 627.911C192.747 627.775 191.177 627.638 189.676 627.502C188.107 627.365 186.606 627.024 185.105 626.82C182.035 626.342 179.033 625.796 176.099 625.319C174.598 625.114 173.165 624.704 171.664 624.363C170.231 624.022 168.73 623.681 167.297 623.272C165.864 622.93 164.432 622.589 162.999 622.248C162.316 622.044 161.566 621.907 160.884 621.702L158.769 621.02C153.242 619.178 147.715 617.609 142.598 615.289C121.72 606.897 104.322 595.503 90.3349 583.835C76.348 572.168 65.7725 560.228 57.585 550.062C53.6278 544.877 50.0116 540.305 47.2825 536.007C44.4851 531.777 41.9606 528.297 40.2549 525.227C36.707 519.223 34.7966 516.016 34.7966 516.016C34.7966 516.016 36.707 519.223 40.3913 525.158C42.0971 528.161 44.6215 531.708 47.4871 535.87C50.2163 540.101 53.9007 544.604 57.9262 549.789C66.1819 559.819 76.8938 571.622 90.949 583.085C105.004 594.547 122.403 605.6 143.144 613.788C148.261 616.039 153.72 617.54 159.246 619.383L161.293 620.065C161.975 620.27 162.726 620.406 163.408 620.611C164.841 620.952 166.274 621.293 167.707 621.634C169.139 621.975 170.572 622.316 172.005 622.658C173.438 622.999 174.871 623.408 176.372 623.613C179.305 624.09 182.308 624.568 185.31 625.046C186.811 625.25 188.312 625.591 189.881 625.728C191.382 625.864 192.951 626.001 194.452 626.069C197.523 626.342 200.593 626.615 203.731 626.82C206.87 626.82 210.077 626.82 213.283 626.888C238.801 626.82 265.547 622.18 292.293 614.334C293.93 613.856 295.636 613.447 297.341 612.833C298.979 612.287 300.685 611.741 302.322 611.127C305.665 610.035 309.009 608.875 312.352 607.715C315.627 606.419 318.97 605.191 322.313 603.895C323.951 603.281 325.656 602.598 327.294 601.984C328.931 601.302 330.569 600.551 332.206 599.869C335.481 598.436 338.756 597.004 342.1 595.571C345.375 594.001 348.581 592.432 351.856 590.863L356.769 588.475L361.613 585.95C364.82 584.245 368.027 582.539 371.302 580.833C396.887 566.573 421.586 549.926 444.852 531.367C450.72 526.796 456.383 521.952 462.114 517.244C467.846 512.468 473.577 507.76 479.172 502.916C484.766 498.072 490.361 493.227 495.956 488.383C501.414 483.471 506.873 478.49 512.331 473.577C517.857 468.733 523.043 463.616 528.296 458.635C533.55 453.586 538.872 448.742 543.853 443.557C548.901 438.439 553.95 433.391 558.931 428.342C563.844 423.224 568.551 418.039 573.327 412.922C575.715 410.329 578.035 407.805 580.423 405.28C582.675 402.688 584.926 400.027 587.178 397.502C591.681 392.317 596.048 387.2 600.483 382.082C604.645 376.829 608.807 371.643 612.9 366.458C614.947 363.865 616.994 361.341 618.973 358.816C620.951 356.224 622.862 353.631 624.772 351.106C640.124 330.638 653.769 310.578 663.663 290.587C668.643 280.626 672.669 270.665 675.671 261.044C678.673 251.288 680.583 241.872 681.675 232.866C683.927 214.853 682.835 198.956 681.061 186.061C679.151 173.165 676.49 163.272 674.511 156.518C673.556 153.174 672.737 150.582 672.123 148.876C671.577 147.17 671.304 146.283 671.304 146.283Z"/>
                            <path class="path path--3" fill="#C8C8C8"
                                  d="M516.015 115.307C516.015 115.307 515.06 119.06 513.218 126.088C512.331 129.635 511.103 133.934 509.602 138.983C508.851 141.507 508.101 144.236 507.145 147.102C506.19 149.968 505.167 153.038 504.143 156.245C499.777 169.072 494.046 184.628 486.131 201.822C478.285 219.015 468.391 238.051 456.042 257.838C443.761 277.624 428.887 298.161 411.557 318.493C394.295 338.894 374.236 358.748 351.925 377.511C329.477 396.138 304.778 413.536 278.033 428.41L273.052 431.207C271.346 432.163 269.641 432.981 267.935 433.868C264.523 435.642 261.112 437.416 257.701 439.19C250.741 442.465 243.85 445.945 236.686 448.947C229.658 452.154 222.358 454.883 215.194 457.748L204.209 461.706C202.367 462.32 200.593 463.07 198.682 463.616L193.156 465.39C178.418 470.234 163.203 474.123 147.715 475.42C132.296 476.784 116.467 475.283 102.002 469.961L96.6802 467.846L91.4948 465.39C89.7891 464.503 88.1516 463.548 86.5141 462.661L84.0579 461.228L81.6699 459.659C80.1006 458.567 78.4631 457.612 76.9621 456.452L72.459 452.972C70.9579 451.812 69.5933 450.448 68.2288 449.22C67.5465 448.606 66.796 447.992 66.1137 447.309L64.135 445.262C61.4059 442.602 59.0861 439.668 56.6981 436.802C54.5147 433.8 52.195 430.798 50.2845 427.659C46.3273 421.382 42.9158 414.832 40.2549 408.009C37.5257 401.255 35.206 394.364 33.5002 387.404C32.545 383.925 31.931 380.445 31.1122 376.965C30.5664 373.486 29.8159 370.006 29.4065 366.526C27.4961 352.608 26.9503 338.825 27.7008 325.521C29.1336 298.775 34.8648 273.94 42.5065 251.902C50.1481 229.864 59.8366 210.691 69.5933 194.453C79.4183 178.214 89.448 165.046 98.2495 154.675C107.051 144.305 114.693 136.868 120.083 131.887C122.675 129.363 124.859 127.589 126.292 126.36C127.724 125.132 128.407 124.45 128.407 124.45C128.407 124.45 127.656 125.064 126.292 126.36C124.927 127.657 122.744 129.431 120.151 131.955C114.829 136.936 107.187 144.441 98.4542 154.812C89.7209 165.183 79.7594 178.419 70.0027 194.658C60.3142 210.896 50.7622 230.068 43.1205 252.106C35.4789 274.213 29.8159 299.048 28.4513 325.657C27.7008 338.962 28.3148 352.676 30.2252 366.526C30.6346 370.006 31.3169 373.417 31.931 376.897C32.6815 380.377 33.3638 383.856 34.319 387.268C36.0247 394.227 38.2763 401.05 41.0736 407.737C43.7346 414.491 47.146 420.973 51.1033 427.25C53.0137 430.389 55.2653 433.322 57.4486 436.324C59.8366 439.19 62.1564 442.056 64.8173 444.648L66.796 446.627C67.41 447.309 68.1605 447.855 68.8428 448.537C70.2756 449.766 71.572 451.062 73.073 452.222L77.5079 455.633C79.0089 456.793 80.6464 457.748 82.1475 458.772L84.5355 460.341L86.9917 461.774C88.6292 462.661 90.3349 463.684 91.9724 464.503L97.0896 466.891L102.411 469.006C116.74 474.192 132.364 475.624 147.715 474.328C163.067 473.032 178.214 469.143 192.883 464.298L198.41 462.524C200.252 461.979 202.094 461.228 203.936 460.614L214.853 456.725C222.017 453.859 229.317 451.13 236.345 447.923C243.509 444.921 250.4 441.51 257.359 438.235C260.771 436.529 264.182 434.687 267.594 432.981C269.299 432.094 271.005 431.207 272.711 430.32L277.692 427.523C304.437 412.717 329.136 395.387 351.515 376.829C373.826 358.134 393.885 338.28 411.147 317.947C428.477 297.683 443.351 277.215 455.633 257.428C467.982 237.642 477.875 218.742 485.858 201.549C493.841 184.423 499.64 168.935 504.075 156.108C505.167 152.902 506.19 149.831 507.145 146.966C508.101 144.1 508.851 141.371 509.602 138.846C511.103 133.797 512.399 129.499 513.286 125.951C515.06 119.128 516.015 115.307 516.015 115.307Z"/>
                            <path class="path path--4" fill="#C8C8C8"
                                  d="M64.2715 184.218C72.5954 174.462 81.0558 164.705 89.6526 155.153C93.9511 150.377 98.3177 145.601 102.684 140.893C104.868 138.505 107.119 136.185 109.303 133.865C111.486 131.546 113.737 129.226 116.057 126.974C118.309 124.655 120.56 122.403 122.88 120.151C125.2 117.9 127.451 115.648 129.839 113.465C132.159 111.213 134.547 109.03 136.935 106.915C139.323 104.732 141.711 102.617 144.168 100.502C146.624 98.3865 149.012 96.2714 151.536 94.2927C153.993 92.2458 156.517 90.199 159.11 88.2203C161.634 86.2417 164.227 84.2631 166.82 82.3527L170.709 79.487L174.666 76.7579L178.623 74.0287L182.717 71.436L186.811 68.8433L190.973 66.3871C192.337 65.5683 193.77 64.7496 195.135 63.9308L199.365 61.6111C202.162 60.0418 205.096 58.609 208.03 57.1762C213.829 54.3106 219.765 51.7861 225.838 49.5345C227.339 48.9205 228.84 48.3746 230.409 47.897L234.98 46.3278C238.051 45.3044 241.189 44.5538 244.328 43.5986C247.466 42.7799 250.605 42.1658 253.811 41.4153C257.018 40.8012 260.225 40.3236 263.363 39.7778C266.57 39.4367 269.777 39.0273 273.052 38.6861C276.259 38.4815 279.534 38.2085 282.741 38.1403C285.947 38.1403 289.222 38.0039 292.429 38.0721C295.636 38.2085 298.911 38.345 302.118 38.5497C305.324 38.8908 308.599 39.1637 311.806 39.5049L321.426 40.9377H321.495L321.563 41.0059L326.68 42.9846C328.386 43.6669 330.023 44.4174 331.729 45.1679C333.366 45.9184 335.004 46.8054 336.641 47.6241C338.279 48.4429 339.848 49.4663 341.417 50.3533C342.987 51.3085 344.488 52.4002 346.057 53.4236C347.558 54.447 348.991 55.6751 350.424 56.7668C351.856 57.9267 353.221 59.2231 354.586 60.4512C355.882 61.7475 357.178 63.1121 358.475 64.4085C359.635 65.8413 360.863 67.2741 362.023 68.7069C363.046 70.2079 364.206 71.7089 365.161 73.2782C366.048 74.9157 367.071 76.4167 367.89 78.1225C368.641 79.8282 369.528 81.3975 370.21 83.1714C370.824 84.8771 371.575 86.5828 372.12 88.3568C372.598 90.1308 373.212 91.9047 373.621 93.6787C373.963 95.5208 374.44 97.2948 374.713 99.0687L375.464 104.527V104.595V104.664L374.508 116.74C373.963 120.766 373.28 124.723 372.666 128.68C371.779 132.637 370.824 136.526 369.869 140.484C368.641 144.305 367.413 148.194 366.116 152.014C364.547 155.767 363.114 159.52 361.477 163.204L358.816 168.662L357.519 171.391C357.11 172.278 356.632 173.234 356.087 174.052L353.085 179.306C352.061 181.08 351.106 182.854 350.014 184.491L346.739 189.54C345.648 191.246 344.556 192.952 343.396 194.521C338.756 201.139 333.844 207.485 328.659 213.625C323.473 219.766 318.151 225.77 312.557 231.569C307.03 237.369 301.367 243.032 295.568 248.627C292.702 251.424 289.836 254.221 286.902 256.95C284.037 259.68 281.103 262.477 278.033 265.138L269.095 273.121L264.592 277.146C263.091 278.443 261.521 279.739 260.02 281.035C253.88 286.152 247.739 291.406 241.53 296.455C235.39 301.572 229.113 306.621 223.108 311.807L204.823 327.363C192.542 337.665 179.374 347.149 164.909 354.245C157.677 357.793 150.103 360.658 142.325 362.637C134.547 364.684 126.564 365.844 118.513 366.185L114.079 365.707C112.578 365.503 111.145 365.162 109.644 364.889C108.211 364.548 106.778 364.138 105.345 363.729C103.912 363.319 102.548 362.705 101.115 362.228C99.7505 361.682 98.3859 361 97.0214 360.317C95.725 359.635 94.4287 358.816 93.1323 358.066C91.9042 357.247 90.6761 356.36 89.5162 355.473C88.3563 354.518 87.2646 353.494 86.173 352.539C85.1495 351.448 84.1261 350.356 83.1027 349.264C82.2157 348.036 81.2605 346.944 80.3735 345.716C79.623 344.42 78.736 343.26 78.0537 341.896C77.4397 340.531 76.6209 339.235 76.1433 337.87C75.6657 336.505 74.9834 335.141 74.5741 333.708C74.1647 332.275 73.6871 330.842 73.4142 329.41C73.1412 327.977 72.8001 326.476 72.5954 325.043L72.186 320.608L72.6636 325.043C72.8683 326.476 73.2095 327.977 73.4824 329.41C73.7553 330.842 74.3011 332.275 74.7105 333.708C75.1199 335.141 75.8022 336.505 76.2798 337.87C76.8256 339.235 77.5761 340.531 78.2584 341.827C78.9407 343.124 79.8277 344.352 80.6464 345.58C81.4652 346.808 82.4886 347.9 83.3756 349.06C84.3308 350.151 85.4225 351.175 86.4459 352.266C87.5375 353.222 88.6974 354.177 89.7891 355.132C91.0172 355.951 92.1771 356.838 93.4052 357.656C94.7016 358.407 95.9297 359.157 97.2943 359.84C98.6589 360.454 99.9552 361.136 101.32 361.614C102.684 362.091 104.049 362.637 105.482 363.046C106.915 363.388 108.347 363.865 109.78 364.138C111.213 364.411 112.646 364.684 114.147 364.889L118.513 365.298H118.718C126.701 364.82 134.616 363.592 142.257 361.477C149.967 359.362 157.404 356.428 164.5 352.949C178.76 345.853 191.791 336.369 203.868 325.998L222.017 310.306C228.021 305.052 234.23 299.935 240.37 294.818C246.511 289.7 252.583 284.447 258.656 279.33C260.157 278.033 261.726 276.737 263.227 275.441L267.662 271.415L276.6 263.364C279.602 260.703 282.468 257.974 285.401 255.177C288.335 252.447 291.201 249.65 294.067 246.853C299.798 241.258 305.461 235.595 310.919 229.795C316.446 223.996 321.767 218.06 326.816 211.919C331.934 205.779 336.778 199.502 341.349 192.952C342.509 191.382 343.601 189.677 344.692 187.971L347.899 182.922C348.991 181.285 349.946 179.511 350.901 177.805L353.835 172.62C354.313 171.733 354.79 170.914 355.2 169.959L356.496 167.298L359.089 161.908C360.658 158.291 362.091 154.539 363.592 150.923C364.82 147.17 366.048 143.349 367.276 139.597L370.074 127.998C370.688 124.109 371.37 120.151 371.916 116.262L372.871 104.391V104.595L372.12 99.2734C371.848 97.4995 371.37 95.7938 371.029 94.0198C370.619 92.3141 370.074 90.6084 369.596 88.9026C369.118 87.1969 368.368 85.5594 367.754 83.9219C367.14 82.2844 366.253 80.7152 365.502 79.0777C364.683 77.5084 363.728 76.0074 362.841 74.4381C361.886 72.9371 360.863 71.5043 359.839 70.0714C358.748 68.7069 357.588 67.3423 356.496 65.9777C355.268 64.6814 354.04 63.385 352.812 62.1569C351.447 60.997 350.219 59.7689 348.786 58.609C347.353 57.5173 345.989 56.3574 344.556 55.334C343.055 54.3788 341.622 53.2871 340.121 52.4002C338.552 51.5132 337.051 50.558 335.481 49.7392C333.912 48.9205 332.343 48.1017 330.705 47.3512C329.068 46.6007 327.43 45.8502 325.793 45.1679L320.744 43.2575L320.949 43.3257L311.465 41.8929C308.258 41.5518 305.12 41.2788 301.913 40.9377C298.706 40.733 295.499 40.5966 292.361 40.4601C289.154 40.3919 285.947 40.4601 282.809 40.4601C279.602 40.5966 276.463 40.8012 273.257 41.0059L263.705 42.0976L254.289 43.7351C251.151 44.4174 248.012 45.0314 244.942 45.8502C241.871 46.7372 238.733 47.4877 235.731 48.4429L231.159 49.9439C229.658 50.4215 228.089 50.8991 226.656 51.5132C220.652 53.6965 214.716 56.1528 208.985 58.9501C206.119 60.3147 203.186 61.6793 200.388 63.2486L196.158 65.5001C194.725 66.2506 193.361 67.0694 191.996 67.8881L187.834 70.2761L183.74 72.8006L179.647 75.3933L175.689 78.0542L171.732 80.7834L167.843 83.5808C165.25 85.423 162.658 87.4016 160.133 89.312C157.54 91.2224 155.084 93.2693 152.56 95.3162C150.035 97.2948 147.579 99.4099 145.123 101.457C142.667 103.504 140.279 105.619 137.822 107.802C135.434 109.917 133.046 112.1 130.658 114.284C128.27 116.467 125.95 118.65 123.631 120.902C121.311 123.085 118.991 125.337 116.74 127.588C114.42 129.84 112.168 132.092 109.917 134.411C107.665 136.731 105.414 138.983 103.162 141.302C98.7271 145.942 94.2922 150.65 89.9256 155.358C81.2605 164.91 72.7319 174.53 64.2715 184.218Z"
                            />
                            <clipPath id="line-1">
                                <path
                                    d="M361.613 730.869C361.954 728.412 362.227 725.888 362.637 723.432C362.841 722.204 363.046 720.976 363.319 719.747L363.728 717.905C363.865 717.291 364.069 716.677 364.206 716.063C364.411 715.449 364.547 714.835 364.752 714.221L365.366 712.447C365.775 711.219 366.321 710.127 366.799 708.967L370.005 702.144C374.372 695.39 379.489 689.113 385.152 683.45C390.815 677.718 397.092 672.601 403.847 668.166C410.533 663.663 417.561 659.706 424.861 656.226C432.094 652.678 439.599 649.813 446.968 646.674L469.21 637.532L491.589 628.73L513.968 619.86L536.279 610.922L558.385 601.507L569.438 596.799L580.287 591.682L602.12 581.516L613.037 576.467L623.885 571.281L645.582 560.91C652.814 557.499 659.978 553.883 667.415 550.744C674.852 547.606 682.494 544.808 690.477 543.171C694.434 542.284 698.528 541.806 702.69 541.875C706.783 541.943 710.945 542.489 714.903 543.921L714.971 543.99L715.039 544.058L717.154 545.423C717.836 545.832 718.519 546.446 719.133 546.992C719.474 547.265 719.815 547.538 720.088 547.879L720.975 548.834C721.316 549.107 721.521 549.516 721.725 549.926L722.408 551.085C722.612 551.495 722.749 551.904 722.885 552.314C723.022 552.723 723.226 553.132 723.295 553.542L723.568 554.77C723.636 555.179 723.772 555.589 723.772 555.998C723.841 556.817 723.909 557.635 723.909 558.454V560.91V560.979V561.047C723.568 563.503 723.158 565.959 722.544 568.347L722.067 570.121L721.521 571.895C721.18 573.055 720.702 574.215 720.293 575.375C718.587 580.015 716.404 584.381 714.084 588.68C711.764 592.978 709.171 597.14 706.442 601.166C705.078 603.212 703.645 605.191 702.212 607.17C700.779 609.148 699.278 611.059 697.845 613.037C691.909 620.747 685.496 628.116 678.878 635.28C672.259 642.444 665.3 649.267 658.136 655.817C665.164 649.062 671.918 642.035 678.4 634.802C684.882 627.57 691.091 620.065 696.89 612.287C698.323 610.308 699.756 608.398 701.12 606.351C702.485 604.372 703.849 602.325 705.214 600.347C707.875 596.321 710.399 592.159 712.651 587.861C714.903 583.562 716.949 579.196 718.587 574.693C718.996 573.533 719.406 572.441 719.747 571.281L720.293 569.576L720.702 567.802C721.316 565.482 721.657 563.094 721.93 560.774V560.842V558.454C721.93 558.045 721.862 557.704 721.862 557.294L721.794 556.134C721.794 555.725 721.657 555.384 721.589 555.043L721.384 553.951C721.316 553.61 721.111 553.269 721.043 552.928C720.907 552.587 720.838 552.245 720.634 551.904L720.088 550.949C719.883 550.608 719.747 550.335 719.474 550.062L718.723 549.243C718.519 548.97 718.178 548.697 717.905 548.493C717.291 548.015 716.745 547.538 716.062 547.128L714.084 545.9L714.22 545.968C710.604 544.672 706.715 544.194 702.758 544.194C698.869 544.194 694.911 544.74 691.091 545.559C683.381 547.196 675.876 549.994 668.575 553.132C661.275 556.271 654.042 559.887 646.81 563.367L625.182 573.806L614.333 579.059L603.417 584.177L581.651 594.411L570.735 599.46L559.614 604.099L537.439 613.447L515.06 622.248L492.681 630.982L470.097 639.51L447.786 648.448C440.349 651.45 432.844 654.248 425.612 657.659C418.38 661.002 411.352 664.891 404.666 669.258C397.979 673.625 391.634 678.537 385.971 684.132C380.24 689.658 375.054 695.799 370.551 702.417V702.349L367.276 709.104C366.799 710.264 366.253 711.355 365.775 712.583L365.093 714.357C364.888 714.971 364.752 715.517 364.547 716.131C364.411 716.745 364.138 717.291 364.001 717.905L363.592 719.747C363.319 720.976 363.046 722.204 362.841 723.432C362.364 725.888 362.023 728.412 361.613 730.869Z"/>
                            </clipPath>
                            <clipPath id="line-2">
                                <path
                                    d="M671.304 146.283C671.304 146.283 671.577 147.17 672.191 148.876C672.805 150.582 673.624 153.106 674.647 156.449C676.694 163.136 679.423 173.029 681.539 185.924C683.517 198.819 684.745 214.785 682.698 232.934C681.675 241.94 679.833 251.56 676.967 261.385C674.033 271.21 670.008 281.24 665.095 291.27C655.27 311.465 641.693 331.729 626.41 352.335C624.499 354.927 622.589 357.52 620.61 360.113C618.631 362.705 616.585 365.23 614.538 367.823C610.444 373.008 606.35 378.193 602.188 383.515C597.822 388.632 593.387 393.818 588.952 399.071C586.7 401.664 584.449 404.325 582.197 406.918C579.877 409.442 577.489 412.035 575.101 414.559C570.325 419.677 565.618 424.93 560.705 430.047C555.724 435.096 550.675 440.213 545.627 445.331C540.646 450.516 535.324 455.429 530.07 460.477C524.817 465.458 519.563 470.644 514.105 475.488C508.646 480.4 503.188 485.381 497.73 490.362C492.135 495.206 486.54 500.05 480.946 504.963C475.351 509.875 469.62 514.583 463.888 519.359C458.157 524.067 452.494 528.979 446.558 533.551C423.224 552.177 398.252 568.825 372.53 583.153C369.255 584.859 366.048 586.565 362.773 588.27L357.929 590.795L353.016 593.183C349.741 594.752 346.466 596.321 343.191 597.891C339.848 599.323 336.573 600.756 333.23 602.189C331.592 602.871 329.887 603.622 328.249 604.304C326.543 604.918 324.906 605.6 323.2 606.214C319.857 607.511 316.514 608.807 313.171 610.035C309.827 611.195 306.416 612.287 303.073 613.447C301.367 613.992 299.729 614.538 298.024 615.152C296.318 615.698 294.612 616.108 292.975 616.653C266.024 624.5 239.074 629.003 213.283 628.866C210.077 628.798 206.87 628.798 203.731 628.73C200.593 628.525 197.386 628.184 194.316 627.911C192.747 627.775 191.177 627.638 189.676 627.502C188.107 627.365 186.606 627.024 185.105 626.82C182.035 626.342 179.033 625.796 176.099 625.319C174.598 625.114 173.165 624.704 171.664 624.363C170.231 624.022 168.73 623.681 167.297 623.272C165.864 622.93 164.432 622.589 162.999 622.248C162.316 622.044 161.566 621.907 160.884 621.702L158.769 621.02C153.242 619.178 147.715 617.609 142.598 615.289C121.72 606.897 104.322 595.503 90.3349 583.835C76.348 572.168 65.7725 560.228 57.585 550.062C53.6278 544.877 50.0116 540.305 47.2825 536.007C44.4851 531.777 41.9606 528.297 40.2549 525.227C36.707 519.223 34.7966 516.016 34.7966 516.016C34.7966 516.016 36.707 519.223 40.3913 525.158C42.0971 528.161 44.6215 531.708 47.4871 535.87C50.2163 540.101 53.9007 544.604 57.9262 549.789C66.1819 559.819 76.8938 571.622 90.949 583.085C105.004 594.547 122.403 605.6 143.144 613.788C148.261 616.039 153.72 617.54 159.246 619.383L161.293 620.065C161.975 620.27 162.726 620.406 163.408 620.611C164.841 620.952 166.274 621.293 167.707 621.634C169.139 621.975 170.572 622.316 172.005 622.658C173.438 622.999 174.871 623.408 176.372 623.613C179.305 624.09 182.308 624.568 185.31 625.046C186.811 625.25 188.312 625.591 189.881 625.728C191.382 625.864 192.951 626.001 194.452 626.069C197.523 626.342 200.593 626.615 203.731 626.82C206.87 626.82 210.077 626.82 213.283 626.888C238.801 626.82 265.547 622.18 292.293 614.334C293.93 613.856 295.636 613.447 297.341 612.833C298.979 612.287 300.685 611.741 302.322 611.127C305.665 610.035 309.009 608.875 312.352 607.715C315.627 606.419 318.97 605.191 322.313 603.895C323.951 603.281 325.656 602.598 327.294 601.984C328.931 601.302 330.569 600.551 332.206 599.869C335.481 598.436 338.756 597.004 342.1 595.571C345.375 594.001 348.581 592.432 351.856 590.863L356.769 588.475L361.613 585.95C364.82 584.245 368.027 582.539 371.302 580.833C396.887 566.573 421.586 549.926 444.852 531.367C450.72 526.796 456.383 521.952 462.114 517.244C467.846 512.468 473.577 507.76 479.172 502.916C484.766 498.072 490.361 493.227 495.956 488.383C501.414 483.471 506.873 478.49 512.331 473.577C517.857 468.733 523.043 463.616 528.296 458.635C533.55 453.586 538.872 448.742 543.853 443.557C548.901 438.439 553.95 433.391 558.931 428.342C563.844 423.224 568.551 418.039 573.327 412.922C575.715 410.329 578.035 407.805 580.423 405.28C582.675 402.688 584.926 400.027 587.178 397.502C591.681 392.317 596.048 387.2 600.483 382.082C604.645 376.829 608.807 371.643 612.9 366.458C614.947 363.865 616.994 361.341 618.973 358.816C620.951 356.224 622.862 353.631 624.772 351.106C640.124 330.638 653.769 310.578 663.663 290.587C668.643 280.626 672.669 270.665 675.671 261.044C678.673 251.288 680.583 241.872 681.675 232.866C683.927 214.853 682.835 198.956 681.061 186.061C679.151 173.165 676.49 163.272 674.511 156.518C673.556 153.174 672.737 150.582 672.123 148.876C671.577 147.17 671.304 146.283 671.304 146.283Z"/>
                            </clipPath>
                            <clipPath id="line-3">
                                <path
                                    d="M516.015 115.307C516.015 115.307 515.06 119.06 513.218 126.088C512.331 129.635 511.103 133.934 509.602 138.983C508.851 141.507 508.101 144.236 507.145 147.102C506.19 149.968 505.167 153.038 504.143 156.245C499.777 169.072 494.046 184.628 486.131 201.822C478.285 219.015 468.391 238.051 456.042 257.838C443.761 277.624 428.887 298.161 411.557 318.493C394.295 338.894 374.236 358.748 351.925 377.511C329.477 396.138 304.778 413.536 278.033 428.41L273.052 431.207C271.346 432.163 269.641 432.981 267.935 433.868C264.523 435.642 261.112 437.416 257.701 439.19C250.741 442.465 243.85 445.945 236.686 448.947C229.658 452.154 222.358 454.883 215.194 457.748L204.209 461.706C202.367 462.32 200.593 463.07 198.682 463.616L193.156 465.39C178.418 470.234 163.203 474.123 147.715 475.42C132.296 476.784 116.467 475.283 102.002 469.961L96.6802 467.846L91.4948 465.39C89.7891 464.503 88.1516 463.548 86.5141 462.661L84.0579 461.228L81.6699 459.659C80.1006 458.567 78.4631 457.612 76.9621 456.452L72.459 452.972C70.9579 451.812 69.5933 450.448 68.2288 449.22C67.5465 448.606 66.796 447.992 66.1137 447.309L64.135 445.262C61.4059 442.602 59.0861 439.668 56.6981 436.802C54.5147 433.8 52.195 430.798 50.2845 427.659C46.3273 421.382 42.9158 414.832 40.2549 408.009C37.5257 401.255 35.206 394.364 33.5002 387.404C32.545 383.925 31.931 380.445 31.1122 376.965C30.5664 373.486 29.8159 370.006 29.4065 366.526C27.4961 352.608 26.9503 338.825 27.7008 325.521C29.1336 298.775 34.8648 273.94 42.5065 251.902C50.1481 229.864 59.8366 210.691 69.5933 194.453C79.4183 178.214 89.448 165.046 98.2495 154.675C107.051 144.305 114.693 136.868 120.083 131.887C122.675 129.363 124.859 127.589 126.292 126.36C127.724 125.132 128.407 124.45 128.407 124.45C128.407 124.45 127.656 125.064 126.292 126.36C124.927 127.657 122.744 129.431 120.151 131.955C114.829 136.936 107.187 144.441 98.4542 154.812C89.7209 165.183 79.7594 178.419 70.0027 194.658C60.3142 210.896 50.7622 230.068 43.1205 252.106C35.4789 274.213 29.8159 299.048 28.4513 325.657C27.7008 338.962 28.3148 352.676 30.2252 366.526C30.6346 370.006 31.3169 373.417 31.931 376.897C32.6815 380.377 33.3638 383.856 34.319 387.268C36.0247 394.227 38.2763 401.05 41.0736 407.737C43.7346 414.491 47.146 420.973 51.1033 427.25C53.0137 430.389 55.2653 433.322 57.4486 436.324C59.8366 439.19 62.1564 442.056 64.8173 444.648L66.796 446.627C67.41 447.309 68.1605 447.855 68.8428 448.537C70.2756 449.766 71.572 451.062 73.073 452.222L77.5079 455.633C79.0089 456.793 80.6464 457.748 82.1475 458.772L84.5355 460.341L86.9917 461.774C88.6292 462.661 90.3349 463.684 91.9724 464.503L97.0896 466.891L102.411 469.006C116.74 474.192 132.364 475.624 147.715 474.328C163.067 473.032 178.214 469.143 192.883 464.298L198.41 462.524C200.252 461.979 202.094 461.228 203.936 460.614L214.853 456.725C222.017 453.859 229.317 451.13 236.345 447.923C243.509 444.921 250.4 441.51 257.359 438.235C260.771 436.529 264.182 434.687 267.594 432.981C269.299 432.094 271.005 431.207 272.711 430.32L277.692 427.523C304.437 412.717 329.136 395.387 351.515 376.829C373.826 358.134 393.885 338.28 411.147 317.947C428.477 297.683 443.351 277.215 455.633 257.428C467.982 237.642 477.875 218.742 485.858 201.549C493.841 184.423 499.64 168.935 504.075 156.108C505.167 152.902 506.19 149.831 507.145 146.966C508.101 144.1 508.851 141.371 509.602 138.846C511.103 133.797 512.399 129.499 513.286 125.951C515.06 119.128 516.015 115.307 516.015 115.307Z"/>
                            </clipPath>
                            <clipPath id="line-4">
                                <path
                                    d="M64.2715 184.218C72.5954 174.462 81.0558 164.705 89.6526 155.153C93.9511 150.377 98.3177 145.601 102.684 140.893C104.868 138.505 107.119 136.185 109.303 133.865C111.486 131.546 113.737 129.226 116.057 126.974C118.309 124.655 120.56 122.403 122.88 120.151C125.2 117.9 127.451 115.648 129.839 113.465C132.159 111.213 134.547 109.03 136.935 106.915C139.323 104.732 141.711 102.617 144.168 100.502C146.624 98.3865 149.012 96.2714 151.536 94.2927C153.993 92.2458 156.517 90.199 159.11 88.2203C161.634 86.2417 164.227 84.2631 166.82 82.3527L170.709 79.487L174.666 76.7579L178.623 74.0287L182.717 71.436L186.811 68.8433L190.973 66.3871C192.337 65.5683 193.77 64.7496 195.135 63.9308L199.365 61.6111C202.162 60.0418 205.096 58.609 208.03 57.1762C213.829 54.3106 219.765 51.7861 225.838 49.5345C227.339 48.9205 228.84 48.3746 230.409 47.897L234.98 46.3278C238.051 45.3044 241.189 44.5538 244.328 43.5986C247.466 42.7799 250.605 42.1658 253.811 41.4153C257.018 40.8012 260.225 40.3236 263.363 39.7778C266.57 39.4367 269.777 39.0273 273.052 38.6861C276.259 38.4815 279.534 38.2085 282.741 38.1403C285.947 38.1403 289.222 38.0039 292.429 38.0721C295.636 38.2085 298.911 38.345 302.118 38.5497C305.324 38.8908 308.599 39.1637 311.806 39.5049L321.426 40.9377H321.495L321.563 41.0059L326.68 42.9846C328.386 43.6669 330.023 44.4174 331.729 45.1679C333.366 45.9184 335.004 46.8054 336.641 47.6241C338.279 48.4429 339.848 49.4663 341.417 50.3533C342.987 51.3085 344.488 52.4002 346.057 53.4236C347.558 54.447 348.991 55.6751 350.424 56.7668C351.856 57.9267 353.221 59.2231 354.586 60.4512C355.882 61.7475 357.178 63.1121 358.475 64.4085C359.635 65.8413 360.863 67.2741 362.023 68.7069C363.046 70.2079 364.206 71.7089 365.161 73.2782C366.048 74.9157 367.071 76.4167 367.89 78.1225C368.641 79.8282 369.528 81.3975 370.21 83.1714C370.824 84.8771 371.575 86.5828 372.12 88.3568C372.598 90.1308 373.212 91.9047 373.621 93.6787C373.963 95.5208 374.44 97.2948 374.713 99.0687L375.464 104.527V104.595V104.664L374.508 116.74C373.963 120.766 373.28 124.723 372.666 128.68C371.779 132.637 370.824 136.526 369.869 140.484C368.641 144.305 367.413 148.194 366.116 152.014C364.547 155.767 363.114 159.52 361.477 163.204L358.816 168.662L357.519 171.391C357.11 172.278 356.632 173.234 356.087 174.052L353.085 179.306C352.061 181.08 351.106 182.854 350.014 184.491L346.739 189.54C345.648 191.246 344.556 192.952 343.396 194.521C338.756 201.139 333.844 207.485 328.659 213.625C323.473 219.766 318.151 225.77 312.557 231.569C307.03 237.369 301.367 243.032 295.568 248.627C292.702 251.424 289.836 254.221 286.902 256.95C284.037 259.68 281.103 262.477 278.033 265.138L269.095 273.121L264.592 277.146C263.091 278.443 261.521 279.739 260.02 281.035C253.88 286.152 247.739 291.406 241.53 296.455C235.39 301.572 229.113 306.621 223.108 311.807L204.823 327.363C192.542 337.665 179.374 347.149 164.909 354.245C157.677 357.793 150.103 360.658 142.325 362.637C134.547 364.684 126.564 365.844 118.513 366.185L114.079 365.707C112.578 365.503 111.145 365.162 109.644 364.889C108.211 364.548 106.778 364.138 105.345 363.729C103.912 363.319 102.548 362.705 101.115 362.228C99.7505 361.682 98.3859 361 97.0214 360.317C95.725 359.635 94.4287 358.816 93.1323 358.066C91.9042 357.247 90.6761 356.36 89.5162 355.473C88.3563 354.518 87.2646 353.494 86.173 352.539C85.1495 351.448 84.1261 350.356 83.1027 349.264C82.2157 348.036 81.2605 346.944 80.3735 345.716C79.623 344.42 78.736 343.26 78.0537 341.896C77.4397 340.531 76.6209 339.235 76.1433 337.87C75.6657 336.505 74.9834 335.141 74.5741 333.708C74.1647 332.275 73.6871 330.842 73.4142 329.41C73.1412 327.977 72.8001 326.476 72.5954 325.043L72.186 320.608L72.6636 325.043C72.8683 326.476 73.2095 327.977 73.4824 329.41C73.7553 330.842 74.3011 332.275 74.7105 333.708C75.1199 335.141 75.8022 336.505 76.2798 337.87C76.8256 339.235 77.5761 340.531 78.2584 341.827C78.9407 343.124 79.8277 344.352 80.6464 345.58C81.4652 346.808 82.4886 347.9 83.3756 349.06C84.3308 350.151 85.4225 351.175 86.4459 352.266C87.5375 353.222 88.6974 354.177 89.7891 355.132C91.0172 355.951 92.1771 356.838 93.4052 357.656C94.7016 358.407 95.9297 359.157 97.2943 359.84C98.6589 360.454 99.9552 361.136 101.32 361.614C102.684 362.091 104.049 362.637 105.482 363.046C106.915 363.388 108.347 363.865 109.78 364.138C111.213 364.411 112.646 364.684 114.147 364.889L118.513 365.298H118.718C126.701 364.82 134.616 363.592 142.257 361.477C149.967 359.362 157.404 356.428 164.5 352.949C178.76 345.853 191.791 336.369 203.868 325.998L222.017 310.306C228.021 305.052 234.23 299.935 240.37 294.818C246.511 289.7 252.583 284.447 258.656 279.33C260.157 278.033 261.726 276.737 263.227 275.441L267.662 271.415L276.6 263.364C279.602 260.703 282.468 257.974 285.401 255.177C288.335 252.447 291.201 249.65 294.067 246.853C299.798 241.258 305.461 235.595 310.919 229.795C316.446 223.996 321.767 218.06 326.816 211.919C331.934 205.779 336.778 199.502 341.349 192.952C342.509 191.382 343.601 189.677 344.692 187.971L347.899 182.922C348.991 181.285 349.946 179.511 350.901 177.805L353.835 172.62C354.313 171.733 354.79 170.914 355.2 169.959L356.496 167.298L359.089 161.908C360.658 158.291 362.091 154.539 363.592 150.923C364.82 147.17 366.048 143.349 367.276 139.597L370.074 127.998C370.688 124.109 371.37 120.151 371.916 116.262L372.871 104.391V104.595L372.12 99.2734C371.848 97.4995 371.37 95.7938 371.029 94.0198C370.619 92.3141 370.074 90.6084 369.596 88.9026C369.118 87.1969 368.368 85.5594 367.754 83.9219C367.14 82.2844 366.253 80.7152 365.502 79.0777C364.683 77.5084 363.728 76.0074 362.841 74.4381C361.886 72.9371 360.863 71.5043 359.839 70.0714C358.748 68.7069 357.588 67.3423 356.496 65.9777C355.268 64.6814 354.04 63.385 352.812 62.1569C351.447 60.997 350.219 59.7689 348.786 58.609C347.353 57.5173 345.989 56.3574 344.556 55.334C343.055 54.3788 341.622 53.2871 340.121 52.4002C338.552 51.5132 337.051 50.558 335.481 49.7392C333.912 48.9205 332.343 48.1017 330.705 47.3512C329.068 46.6007 327.43 45.8502 325.793 45.1679L320.744 43.2575L320.949 43.3257L311.465 41.8929C308.258 41.5518 305.12 41.2788 301.913 40.9377C298.706 40.733 295.499 40.5966 292.361 40.4601C289.154 40.3919 285.947 40.4601 282.809 40.4601C279.602 40.5966 276.463 40.8012 273.257 41.0059L263.705 42.0976L254.289 43.7351C251.151 44.4174 248.012 45.0314 244.942 45.8502C241.871 46.7372 238.733 47.4877 235.731 48.4429L231.159 49.9439C229.658 50.4215 228.089 50.8991 226.656 51.5132C220.652 53.6965 214.716 56.1528 208.985 58.9501C206.119 60.3147 203.186 61.6793 200.388 63.2486L196.158 65.5001C194.725 66.2506 193.361 67.0694 191.996 67.8881L187.834 70.2761L183.74 72.8006L179.647 75.3933L175.689 78.0542L171.732 80.7834L167.843 83.5808C165.25 85.423 162.658 87.4016 160.133 89.312C157.54 91.2224 155.084 93.2693 152.56 95.3162C150.035 97.2948 147.579 99.4099 145.123 101.457C142.667 103.504 140.279 105.619 137.822 107.802C135.434 109.917 133.046 112.1 130.658 114.284C128.27 116.467 125.95 118.65 123.631 120.902C121.311 123.085 118.991 125.337 116.74 127.588C114.42 129.84 112.168 132.092 109.917 134.411C107.665 136.731 105.414 138.983 103.162 141.302C98.7271 145.942 94.2922 150.65 89.9256 155.358C81.2605 164.91 72.7319 174.53 64.2715 184.218Z"
                            </clipPath>
                        </svg>
                    </div>
                </div>
            </div>
        </section>
        <Footer/>
    </div>
</template>

<script>
export default {
    head() {
        return {
            bodyAttrs: {
                class: 'page page--about'
            },
            title: this.seo?.metaTitle || 'ND Group',
            meta: [
                { hid: 'description', name: 'description', content: this.seo?.metaDescription || '' },
            ],
            script: [
                {
                    hid: 'player',
                    src: 'https://player.vimeo.com/api/player.js',
                    callback: () => {
                        this.externalLoaded.player = true
                        this.setPlayer();
                    },
                    defer: false,
                },
                {
                    skip: !this.externalLoaded.player,
                },
                {
                    hid: 'froogaloop',
                    src: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/froogaloop.js',
                    callback: () => {
                        this.externalLoaded.froogaloop = true
                    },
                    defer: false,
                },
                {
                    skip: !this.externalLoaded.froogaloop,
                }
            ]
        }
    },
    data() {
        return {
            externalLoaded: {
                player: false,
                froogaloop: false
            }
        }
    },
    async asyncData({ $axios }) {
        try {
            const qs = require('qs');
            const aboutQuery = qs.stringify({
                populate: [
                    'description', 'chief', 'chief.photo', 'video', 'video.preview'
                ]
            }, {
                encodeValuesOnly: true,
            });
            const about = await $axios.get(`/about/?${aboutQuery}`);
            const journeyQuery = qs.stringify({
                populate: [
                    'list', 'list.image'
                ]
            }, {
                encodeValuesOnly: true,
            });
            const journey = await $axios.get(`/journey/?${journeyQuery}`);
            return {
                about: about.data.data,
                journey: journey.data.data,
            }
        } catch (e) {
            console.log(e);
        }

    },
    mounted() {
        try {
            const animationItems = document.querySelectorAll('.about__p, .about__photo, .about__name, .about__post, .about__quote, .about__preview, .about__play');

            for (let item of animationItems) {
                gsap.fromTo(item, { autoAlpha: 0, y: '15%' }, {
                    duration: .5,
                    autoAlpha: 1,
                    y: 0,
                    scrollTrigger: {
                        trigger: item,
                        start: 'top 90%',
                        once: true
                    }
                });
            }

            // if (window.innerHeight > window.innerWidth) document.body.classList.add('page--mobile')
            //
            // const findOutMore = document.querySelector('.header__find-out-more');
            //
            // findOutMore.addEventListener('click', (e) => {
            //     let headerCircle = document.querySelector('.header__circle');
            //     let findPoint = document.querySelector('.header__point');
            //     let recPoint = findPoint.getBoundingClientRect();
            //     headerCircle.style.left = `${recPoint.x + recPoint.width / 2}px`;
            //     headerCircle.style.top = `${recPoint.y + recPoint.height / 2}px`;
            //     document.querySelector('.header').classList.add('header--animation');
            //     setTimeout(() => {
            //         page.classList.remove('page--disabled');
            //         window.scrollTo({
            //             top: document.querySelector('.header').offsetHeight,
            //             behavior: "smooth"
            //         });
            //     }, 600)
            //     setTimeout(() => {
            //         headerCircle.classList.add('header__circle--hidden');
            //     }, 1500)
            // }, { once: true });
            //
            // window.addEventListener('scroll', headerScrollEvent);
            //
            // function headerScrollEvent() {
            //     if (document.body.classList.contains('page--about')) {
            //         let headerCircle = document.querySelector('.header__circle');
            //         document.querySelector('.header').classList.add('header--animation');
            //         headerCircle.classList.add('header__circle--mouse');
            //         window.removeEventListener('mousemove', headerMouseMove);
            //         window.removeEventListener('scroll', headerScrollEvent);
            //         setTimeout(() => {
            //             page.classList.remove('page--disabled');
            //             window.scrollTo({
            //                 top: document.querySelector('.header').offsetHeight,
            //                 behavior: "smooth"
            //             });
            //         }, 600)
            //         setTimeout(() => {
            //             headerCircle.classList.add('header__circle--hidden');
            //         }, 1500)
            //     }
            // }
            //
            // window.addEventListener('mousemove', headerMouseMove);
            //
            // function headerMouseMove(e) {
            //     if (document.body.classList.contains('page--about')) {
            //         let headerCircle = document.querySelector('.header__circle');
            //         headerCircle.style.left = `${e.clientX}px`;
            //         headerCircle.style.top = `${e.clientY}px`;
            //     }
            // }

            function headerTaglineInit() {
                let headerTaglines = document.querySelectorAll('.header__tagline');
                for (let tagline of headerTaglines) {
                    gsap.from(SplitText.create(tagline, { type: "words,chars" }).chars, {
                        delay: 3,
                        duration: 1,
                        opacity: 0,
                        y: 80,
                        ease: 'power3',
                        stagger: .1
                    })
                }
            }

            headerTaglineInit();
        } catch (e) {
            console.log(e);
        }

    },
    methods: {
        setPlayer() {
            try {
                let iframe = document.querySelector('.about__iframe');
                let player = $f(iframe);

                const video = document.querySelector('.about__open-video');

                let tlCursor = gsap.timeline({ paused: true });

                tlCursor.to('.x-cursor', {
                    opacity: 0,
                    ease: 'none',
                    display: 'none',
                    duration: .1
                })

                iframe.addEventListener('mouseenter', () => {
                    tlCursor.play();
                });

                iframe.addEventListener('mouseleave', () => {
                    tlCursor.reverse();
                });

                video.addEventListener('click', () => {
                    document.querySelector('.about__video').classList.add('about__video--open');
                    player.api('play');
                })


                document.addEventListener('click', (e) => {
                    if (e.target.classList.contains('about__video--open')) {
                        e.target.classList.remove('about__video--open');
                        player.api('pause');
                    }
                });
            } catch (e) {
                console.log(e);
            }
        },
        getYear(year) {
            return (year < 10) ? `0${year}` : year
        }
    },
    computed: {
        seo() {
            return this.$store.getters.headers.filter(header => header.page === 'about')[0].seo
        },
        strapiUploadUrl() {
            return process.env.STRAPI_URL_UPLOAD
        },
    },
}
</script>
